{% extends "::base2.html.twig" %}
{% block titleContaint %}
    <h2>Dashboard</h2>
{% endblock %}
   {% block breadcrumb %}
   {% endblock %}
{% block DashboardsActive %}class="active"{% endblock %}

{% block Containt %}
    {% for flashMessage in app.session.flashbag.get('reset') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>


    {% endfor %}
    Coming soon
{% endblock %}
